name: Test
on:
  push:
    branches:
      - main
      - master
      - stable
    paths:
      - '**.go'
      - 'go.mod'
      - '**.yaml'
  pull_request:
    branches:
      - main
      - master
      - stable
    paths-ignore:
      - "**.md"
      - "assets/**"
      - "go.mod"

jobs:
  test:
    name: Test on go ${{ matrix.go_version }} and ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        go_version: [^1]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go ${{ matrix.go_version }}
        timeout-minutes: 5
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go_version }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-build-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Unit
        run: |
          make unit
